[submodule "submodule/binutils"]
	path = submodule/binutils
	url = https://github.com/anosig/binutils-gdb.git
[submodule "submodule/gcc"]
	path = submodule/gcc
	url = https://github.com/anosig/gcc.git
[submodule "submodule/limine"]
	path = submodule/limine
	url = https://github.com/limine-bootloader/limine.git
